<h1>This is the index</h1><br/>


 <p> Upcoming Events</p>

<% @upcoming.each do |event| %>


<%= link_to event.event_name, event%><br/>
<%= event.event_date%><br/>


<% end %><br/>

<p> Past Events</p>
<% @past.each do |event| %>


<%= link_to event.event_name, event%><br/>
<%= event.event_date%><br/>


<% end %><br/>



<%= link_to 'New Event', new_event_path %><br/>

<%= link_to 'Back to Users', users_path %>