<h1><%= @events.event_name %> </h1>


<p><strong>Description:</strong> <%= @events.event_description %></p>
<p><strong>Location:</strong> <%= @events.event_location %></p>
<p><strong>Date:</strong> <%= @events.event_date %></p>

<span> This event was created by <%= User.find(@events.event_creator_id).name%> </span>








 <p>This is the list of Attendees to the event </p>

<ul>
<% @events.event_attendees.each do |attend| %>

<li><%= attend.name %>


<% end %>

</ul>

<%= link_to 'Back', users_path %>